
{% load static %}

<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0, user-scalable=0">
    <title> LogIn Page </title>
    <link rel="shortcut icon" href="{% static 'media/img/favicon.png' %}">
    <link
        href="https://fonts.googleapis.com/css2?family=Roboto:ital,wght@0,400;0,500;0,700;0,900;1,400;1,500;1,700&display=swap"
        rel="stylesheet">
    <link rel="stylesheet" href="{% static 'plugins/bootstrap/css/bootstrap.min.css' %}">
    <link rel="stylesheet" href="{% static 'plugins/feather/feather.css'%}">
    <link rel="stylesheet" href="{% static 'plugins/icons/flags/flags.css'%}">
    <link rel="stylesheet" href="{% static 'plugins/fontawesome/css/fontawesome.min.css'%}">
    <link rel="stylesheet" href="{% static 'plugins/fontawesome/css/all.min.css'%}">
    <link rel="stylesheet" href="{% static 'css/style.css'%}">

    
</head>

<body>

        
    <div class="main-wrapper login-body">
        <div class="login-wrapper">
            <div class="container">
                <div class="loginbox">
                    <div class="login-left">
                        <img class="img-fluid" src="{% static 'media/img/login.png' %}" alt="Logo">
                    </div>
                    <div class="login-right">
                        <div class="login-right-wrap">
                            <h1>Forgot Password</h1>
                            <p>Enter your email address and we'll send you a link to reset your password.</p>
                            
                            <form method="post">
                                {% csrf_token %}
                                <div class="form-group">
                                    <label for="id_email">Email address <span class="login-danger">*</span></label>
                                    <input id="id_email" name="email" class="form-control" type="email">
                                </div>
                                <div class="form-group">
                                    <button class="btn btn-primary btn-block" type="submit">Reset Password</button>
                                </div>
                            </form>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
      
        
        
   
    
<script src="{% static 'js/jquery-3.6.0.min.js'%}"></script>
<script src="{% static 'plugins/bootstrap/js/bootstrap.bundle.min.js'%}"></script>
<script src="{% static 'js/feather.min.js'%}"></script>
<script src="{% static 'plugins/slimscroll/jquery.slimscroll.min.js'%}"></script>
<script src="{% static 'plugins/apexchart/apexcharts.min.js'%}"></script>
<script src="{% static 'plugins/apexchart/chart-data.js'%}"></script>
<script src="{% static 'js/script.js'%}"></script>

</body>

</html>








