{% extends "base.html" %}
{% load static %}

{% block link %}
<link rel="shortcut icon" href="{% static 'media/img/favicon.png' %}">
    <link
        href="https://fonts.googleapis.com/css2?family=Roboto:ital,wght@0,400;0,500;0,700;0,900;1,400;1,500;1,700&display=swap"
        rel="stylesheet">
    <link rel="stylesheet" href="{% static 'plugins/bootstrap/css/bootstrap.min.css' %}">
    <link rel="stylesheet" href="{% static 'plugins/feather/feather.css'%}">
    <link rel="stylesheet" href="{% static 'plugins/icons/flags/flags.css'%}">
    <link rel="stylesheet" href="{% static 'plugins/fontawesome/css/fontawesome.min.css'%}">
    <link rel="stylesheet" href="{% static 'plugins/fontawesome/css/all.min.css'%}">
    <link rel="stylesheet" href="{% static 'css/style.css'%}">

{% endblock link %}

{% block login %}


<div class="main-wrapper login-body">
    <div class="login-wrapper">
        <div class="container">
            <div class="loginbox">
                <div class="login-left">
                    <img class="img-fluid" src="{% static 'media/img/login.png' %}" alt="Logo">
                </div>
              
                <div class="login-right">
                    <div class="login-right-wrap">
                        <h1>Welcome to Preskool</h1>
                        <h2>Sign in</h2>
                        
                        <form method="post" >
                            {% csrf_token %}
                            <div class="form-group">
                                <label for ="id_username">Username <span class="login-danger">*</span></label>
                                <input id="id_username" name="username" class="form-control" type="text">
                                <span class="profile-views"><i class="fas fa-user-circle"></i></span>
                            </div>
                            <div class="form-group">
                                <label for="id_password">Password <span class="login-danger">*</span></label>
                                <input id="id_password" name="password"  class="form-control pass-input" type="password">
                                <span class="profile-views feather-eye-off toggle-password"></span>
                            </div>
                            {% comment %} <div class="form-group">
                                <label for="id_role">User Type</label>
                                <select id="id_role" name="role" class="form-control" name="user_type">
                                    <option value="parent">Student</option>
                                    <option value="teacher">Teacher</option>
                                    <option value="admin">Parent</option>
                                </select>
                            </div> {% endcomment %}
                            <div class="forgotpass">
                                <div class="remember-me">
                                    <label class="custom_check mr-2 mb-0 d-inline-flex remember-me"> Remember me
                                        <input type="checkbox" name="remember_me">
                                        <span class="checkmark"></span>
                                    </label>
                                </div>
                                <a href="forgot-password.html">Forgot Password?</a>
                            </div>
                            <div class="form-group">
                                <button class="btn btn-primary btn-block" type="submit">Login</button>
                            </div>
                        </form>
                        
                        <div class="login-or">
                            <span class="or-line"></span>
                            {% if messages %}
                            {% for message in messages %}
                            <div class="alert alert-danger" role="alert">
                                {{ message }}
                            </div>
                            {% endfor %}
                            {% endif %}
                        </div>
                        
                        {% comment %} <div class="social-login">
                            <a href="#"><i class="fab fa-google-plus-g"></i></a>
                            <a href="#"><i class="fab fa-facebook-f"></i></a>
                            <a href="#"><i class="fab fa-twitter"></i></a>
                            <a href="#"><i class="fab fa-linkedin-in"></i></a>
                        </div> {% endcomment %}
                        
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>

{% endblock login %}

{% block script %}
<script src="{% static 'js/jquery-3.6.0.min.js'%}"></script>
<script src="{% static 'plugins/bootstrap/js/bootstrap.bundle.min.js'%}"></script>
<script src="{% static 'js/feather.min.js'%}"></script>
<script src="{% static 'plugins/slimscroll/jquery.slimscroll.min.js'%}"></script>
<script src="{% static 'plugins/apexchart/apexcharts.min.js'%}"></script>
<script src="{% static 'plugins/apexchart/chart-data.js'%}"></script>
<script src="{% static 'js/script.js'%}"></script>

{% endblock script %}





