{% extends "base.html" %}
{% load static %}
{% block content %}

<div class="main-wrapper login-body">
    <div class="login-wrapper">
        <div class="container">
            <div class="loginbox">
                <div class="login-left">
                    <img class="img-fluid" src="{% static 'media/img/login.png' %}" alt="Logo">
                </div>
                <div class="login-right">
                    <div class="login-right-wrap">
                        <h1>Welcome to Preskool</h1>
                        <h2>Sign in</h2>
                        
                        <form method="post" >
                            {% csrf_token %}
                            <div class="form-group">
                                <label for ="id_username">Username <span class="login-danger">*</span></label>
                                <input id="id_username" name="username" class="form-control" type="text">
                                <span class="profile-views"><i class="fas fa-user-circle"></i></span>
                            </div>
                            <div class="form-group">
                                <label for="id_password">Password <span class="login-danger">*</span></label>
                                <input id="id_password" name="password"  class="form-control pass-input" type="password">
                                <span class="profile-views feather-eye-off toggle-password"></span>
                            </div>
                            {% comment %} <div class="form-group">
                                <label for="id_role">User Type</label>
                                <select id="id_role" name="role" class="form-control" name="user_type">
                                    <option value="parent">Student</option>
                                    <option value="teacher">Teacher</option>
                                    <option value="admin">Parent</option>
                                </select>
                            </div> {% endcomment %}
                            <div class="forgotpass">
                                <div class="remember-me">
                                    <label class="custom_check mr-2 mb-0 d-inline-flex remember-me"> Remember me
                                        <input type="checkbox" name="remember_me">
                                        <span class="checkmark"></span>
                                    </label>
                                </div>
                                <a href="forgot-password.html">Forgot Password?</a>
                            </div>
                            <div class="form-group">
                                <button class="btn btn-primary btn-block" type="submit">Login</button>
                            </div>
                        </form>
                        
                        <div class="login-or">
                            <span class="or-line"></span>
                            <span class="span-or">or</span>
                        </div>
                        
                        {% comment %} <div class="social-login">
                            <a href="#"><i class="fab fa-google-plus-g"></i></a>
                            <a href="#"><i class="fab fa-facebook-f"></i></a>
                            <a href="#"><i class="fab fa-twitter"></i></a>
                            <a href="#"><i class="fab fa-linkedin-in"></i></a>
                        </div> {% endcomment %}
                        
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>

{% endblock content %}


