{% extends 'base.html' %}
{% block content %}
<div class="page-wrapper">
    <div class="content container-fluid">
        <div class="page-header">
            <div class="row align-items-center">
                <div class="col">
                    <h3 class="page-title">Event</h3>
                    <ul class="breadcrumb">
                        <li class="breadcrumb-item"><a href="index.html">Dashboard</a></li>
                        <li class="breadcrumb-item active">Event</li>
                    </ul>
                </div>
            </div>
        </div>
        <div class="row">
            <div class="col-sm-12">
                {% if not event %}
                <h5 class="text-center">Empty Event</h5>
                {% endif %}
                {% for e in event %}
                    <div class="card mb-3" style="max-width: 540px;">
                        <div class="row g-0">
                            <div class="col-md-4">
                                <img src="{{e.image.url}}" class="img-fluid rounded-start" alt="{{e.name}}">
                            </div>
                            <div class="col-md-8">
                                <div class="card-body">
                                    <h5 class="card-title">{{e.name}}</h5>
                                    <p class="card-text">{{e.descriptions}}</p>
                                    <p class="card-text">Start:<small class="text-body-secondary">{{e.start}}</small></p>
                                </div>
                            </div>
                        </div>
                    </div>
                {% endfor %}
            </div>
        </div>
    </div>
    {% endblock content %}