{% extends "teachers/sidebar.html" %}
{% load static %}
{% block link %}
<link rel="shortcut icon" href="{% static 'media/img/favicon.png' %}">
    <link
        href="https://fonts.googleapis.com/css2?family=Roboto:ital,wght@0,400;0,500;0,700;0,900;1,400;1,500;1,700&display=swap"
        rel="stylesheet">
    <link rel="stylesheet" href="{% static 'plugins/bootstrap/css/bootstrap.min.css' %}">
    <link rel="stylesheet" href="{% static 'plugins/feather/feather.css'%}">
    <link rel="stylesheet" href="{% static 'plugins/icons/flags/flags.css'%}">
    <link rel="stylesheet" href="{% static 'css/bootstrap-datetimepicker.min.css'%}">
    <link rel="stylesheet" href="{% static 'plugins/fontawesome/css/fontawesome.min.css'%}">
    <link rel="stylesheet" href="{% static 'plugins/fontawesome/css/all.min.css'%}">
    <link rel="stylesheet" href="{% static 'plugins/select2/css/select2.min.css'%}">
    <link rel="stylesheet" href="{% static 'css/style.css'%}">
{% endblock link %}


{% block content %}

<div class="page-wrapper">
    <div class="content container-fluid">

        <div class="page-header">
            <div class="row align-items-center">
                <div class="col-sm-12">
                    <div class="page-sub-header">
                        <h3 class="page-title">Add Assignment</h3>
                        <ul class="breadcrumb">
                            <li class="breadcrumb-item"><a href="#">Assignments</a></li>
                            <li class="breadcrumb-item active">Add Assignment</li>
                        </ul>
                    </div>
                </div>
            </div>
        </div>

        <div class="row">
            <div class="col-sm-12">
                <div class="card comman-shadow">
                    <div class="card-body">
                        <form method="post" enctype="multipart/form-data">
                            {% csrf_token %}
                            <div class="col-12 col-sm-4">
                                <div class="form-group local-forms">
                                    <label>Course <span class="login-danger">*</span></label>
                                        <select class="form-control select" name='course'>
                                            <option value ="">Please Select Class and Course  </option>
                                             {% for course in courses %}
                                            <option value="{{course.id}}">{{course}}</option>
                                            {% endfor %} 
                                            {% comment %} request.GET.course_id|default:'' is used to handle cases where request.GET.course_id might be None.
                                            stringformat:"s" is used to ensure that both request.GET.course_id and course.id are treated as strings for comparison. {% endcomment %}
                                        </select>
                                   
                                </div>
                            </div>
                            <div class="row">
                                <div class="col-12">
                                    <div class="form-group local-forms">
                                        <label>Name <span class="login-danger">*</span></label>
                                        <input class="form-control" type="text" name="name" placeholder="Enter Assignment Name">
                                    </div>
                                </div>
                                <div class="col-12">
                                    <div class="form-group local-forms">
                                        <label>Description <span class="login-danger">*</span></label>
                                        <textarea class="form-control" name="description" placeholder="Enter Assignment Description"></textarea>
                                    </div>
                                </div>
                                <div class="col-12 col-sm-6">
                                    <div class="form-group local-forms calendar-icon">
                                        <label>Start Date <span class="login-danger">*</span></label>
                                        <input class="" type="date" name="start" placeholder="YYYY-MM-DD">
                                    </div>
                                </div>
                                <div class="col-12 col-sm-6">
                                    <div class="form-group local-forms calendar-icon">
                                        <label>End Date <span class="login-danger">*</span></label>
                                        <input class="" type="date" name="end" placeholder="YYYY-MM-DD">
                                    </div>
                                </div>
                                <div class="col-12">
                                    <div class="form-group students-up-files">
                                        <label>Upload Image (Optional)</label>
                                        <div class="uplod">
                                            <label class="file-upload image-upbtn mb-0">
                                                Choose File <input type="file" name="image">
                                            </label>
                                        </div>
                                    </div>
                                </div>
                                <div class="col-12">
                                    <div class="form-group students-up-files">
                                        <label>Upload Homework File (PDF or DOCX)</label>
                                        <div class="uplod">
                                            <label class="file-upload image-upbtn mb-0">
                                                Choose File <input type="file" name="hw_file" id="hwFileInput">
                                            </label>
                                        </div>
                                        <div id="selectedFileName"></div>
                                    </div>
                                </div>
                                <div class="col-12">
                                    <div class="student-submit">
                                        <button type="submit" class="btn btn-primary">Submit Assignment</button>
                                    </div>
                                </div>
                            </div>
                        </form>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
{% endblock content %}
{% block script %}
<script src="{% static 'js/jquery-3.6.0.min.js'%}"></script>
    <script src="{% static 'plugins/bootstrap/js/bootstrap.bundle.min.js'%}"></script>
    <script src="{% static 'js/feather.min.js'%}"></script>
    <script src="{% static 'plugins/slimscroll/jquery.slimscroll.min.js'%}"></script>
    <script src="{% static 'plugins/select2/js/select2.min.js'%}"></script>
    <script src="{% static 'plugins/moment/moment.min.js'%}"></script>
    <script src="{% static 'js/bootstrap-datetimepicker.min.js'%}"></script>
    <script src="{% static 'js/script.js'%}"></script>

    <script>
        
        $(document).ready(function () {
            $('#hwFileInput').on('change', function () {
                var fileName = $(this).val().split('\\').pop();
                $('#selectedFileName').text('Selected File: ' + fileName);
            });
        });
    </script>
{% endblock script %}
