{% extends user_type|add:"s/sidebar.html" %}

{% load static %}
{% block content %}



<div class="page-wrapper">
    <div class="content container-fluid">

        <div class="page-header">
            <div class="row">
                
                    
                    {% if messages %}
                    {% for message in messages %}
                    <div class="alert alert-danger" role="alert">
                        {{ message }}
                    </div>
                    {% endfor %}
                    {% endif %}
               
                <div class="col">
                    <h3 class="page-title">Profile</h3>
                    <ul class="breadcrumb">
                        <li class="breadcrumb-item"><a href="index.html">Dashboard</a></li>
                        <li class="breadcrumb-item active">Profile</li>
                    </ul>
                </div>
            </div>
        </div>

        <div class="row">
            <div class="col-md-12">
                <div class="profile-header">
                    <div class="row align-items-center">
                        <div class="col-auto profile-image">
                            <a href="#">
                                <img class="rounded-circle" alt="User Image"
                                    src="{% static 'media/img/profiles/avatar-02.jpg'%}">
                            </a>
                        </div>
                        <div class="col ms-md-n2 profile-user-info">
                            <h4 class="user-name mb-0">{{profile}}</h4>
                            <h6 class="text-muted">{{user_type|title}}</h6>
                            {% if user_type == "student" %}
                            <div class="user-Location"></i> Level: {{ profile.grade.level}}th<br>
                                Department: {{ profile.grade.department}}</div>
                                
                            </div>
                            
                            {% endif %}
                       
                    </div>
                </div>
                <div class="profile-menu">
                    <ul class="nav nav-tabs nav-tabs-solid">
                        <li class="nav-item">
                            <a class="nav-link active" data-bs-toggle="tab" href="#per_details_tab">About</a>
                        </li>
                        <li class="nav-item">
                            <a class="nav-link" data-bs-toggle="tab" href="#password_tab">Password</a>
                        </li>
                    </ul>
                </div>
                <div class="tab-content profile-tab-cont">

                    <div class="tab-pane fade show active" id="per_details_tab">

                        <div class="row">
                            <div class="col-lg-6">
                                <div class="card">
                                    <div class="card-body">
                                        <h5 class="card-title d-flex justify-content-between">
                                            <span>Personal Details</span>
                                            <a class="edit-link" data-bs-toggle="modal"
                                                href="#editPersonalDetailsModal" id="editPersonalDetails"><i
                                                    class="far fa-edit me-1"></i>Edit</a>
                                        </h5>
                                        <div class="row">
                                            <p class="col-sm-3 text-muted text-sm-end mb-0 mb-sm-3">Name</p>
                                            <p class="col-sm-9">{{profile}}</p>
                                        </div>
                                        <div class="row">
                                            <p class="col-sm-3 text-muted text-sm-end mb-0 mb-sm-3">Date of
                                                Birth</p>
                                            <p class="col-sm-9">{{profile.dob}}</p>
                                        </div>
                                        <div class="row">
                                            <p class="col-sm-3 text-muted text-sm-end mb-0 mb-sm-3">Email ID</p>
                                            <p class="col-sm-9">{{profile.email}}
                                            </p>
                                        </div>
                                        <div class="row">
                                            <p class="col-sm-3 text-muted text-sm-end mb-0 mb-sm-3">Mobile</p>
                                            <p class="col-sm-9">{{profile.phone_no}}</p>
                                        </div>
                                        <div class="row">
                                            <p class="col-sm-3 text-muted text-sm-end mb-0">Address</p>
                                            <p class="col-sm-9 mb-0">{{profile.address}}</p>
                                        </div>
                                    </div>
                                </div>
                            </div>
                            {% if user_type == "teacher" %}
                            <div class="col-lg-6">
                                <div class="card">
                                    <div class="card-body">
                                        <h5 class="card-title d-flex justify-content-between">
                                            <span>Course Details</span>
                                            
                                        </h5>
                                        <!-- Table for Course Details -->
                                        <table class="table">
                                            <thead> 
                                                <tr>
                                                    <th>Course Name</th>
                                                    <th>Grade</th>
                                                    <th>Department</th>
                                                </tr>
                                            </thead>
                                            <tbody>
                                                {% for course in profile.course.all %}
                                                    <tr>
                                                        <td>{{ course.course_name }}</td>
                                                        <td>{{ course.grade.level }}</td>
                                                        <td>{{ course.grade.department }}</td>
                                                    </tr>
                                                {% endfor %}
                                            </tbody>
                                        </table>
                                    </div>
                                </div>
                            </div>
                            {% endif %}
                            
                            
                            
                        </div>
                       
                    </div>


                    <div id="password_tab" class="tab-pane fade">
                        <div class="card">
                            <div class="card-body">
                                <h5 class="card-title">Change Password</h5>
                                <div class="row">
                                    <div class="col-md-10 col-lg-6">
                                        <form method="post" action ="{% url 'user_profile:profile' %}">
                                            {% csrf_token %}
                                            <div class="form-group">
                                                <label>Old Password</label>
                                                <input type="password" name="old_password" class="form-control" required>
                                            </div>
                                            <div class="form-group">
                                                <label>New Password</label>
                                                <input type="password" name="new_password" class="form-control" required>
                                            </div>
                                            <div class="form-group">
                                                <label>Confirm Password</label>
                                                <input type="password" name="confirm_password" class="form-control" required>
                                            </div>
                                            <button class="btn btn-primary" type="submit">Save Changes</button>

                                            
                                        </form>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>

                </div>
            </div>
        </div>
    </div>
</div>


{% comment %} <div class="modal fade" id="editPersonalDetailsModal" tabindex="-1" aria-labelledby="editPersonalDetailsModalLabel" aria-hidden="true">
    <div class="modal-dialog">
        <div class="modal-content">
            <div class="modal-header">
                <h5 class="modal-title" id="editPersonalDetailsModalLabel">Edit Personal Details</h5>
                <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
            </div>
            <div class="modal-body">
                <form method="post" action="{% url 'user_profile:profile' %}">
                    {% csrf_token %}
                    {{ form.as_p }}
                    <button type="submit" class="btn btn-primary">Save changes</button>
                </form>
            </div>
        </div>
    </div>
</div> {% endcomment %}

<div class="modal fade" id="editPersonalDetailsModal" tabindex="-1" role="dialog" aria-labelledby="editPersonalDetailsLabel" aria-hidden="true">
                                <div class="modal-dialog modal-dialog-centered" role="document">
                                    <div class="modal-content">
                                        <div class="modal-header">
                                            <h5 class="modal-title" id="editPersonalDetailsLabel">Edit Personal Details</h5>
                                            <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
                                        </div>
                                        <div class="modal-body">
                                            <!-- Add a form for editing personal details -->
                                            <form method="post" action="{% url 'user_profile:profile' %}">
                                                {% csrf_token %}
                                                <!-- Add form fields for editing personal details -->
                                                <!-- Example: -->
                                                <div class="mb-3">
                                                    <label for="editName" class="form-label">Name</label>
                                                    <input type="text" class="form-control" id="editName" value="{{profile}}" name="name" required>
                                                </div>
                                                <div class="mb-3">
                                                    <label for="editDob" class="form-label">Date of Birth</label>
                                                    <input type="date" class="form-control" id="editDob" placeholder="YYYY-MM-DD" value="{{profile.dob | date:'Y-m-d'}}" name="dob" required>
                                                </div>
                                                
                                                <div class="mb-3">
                                                    <label for="editEmail" class="form-label">Email</label>
                                                    <input type="email" class="form-control" id="editEmail" value="{{profile.email}}" name="email" required>
                                                </div>
                                                <div class="mb-3">
                                                    <label for="editMobile" class="form-label">Mobile</label>
                                                    <input type="text" class="form-control" id="editMobile" value="{{profile.phone_no}}"  name="phone_no" required>
                                                </div>
                                                <div class="mb-3">
                                                    <label for="editAddress" class="form-label">Address</label>
                                                    <input type="text" class="form-control" id="editAddress" value="{{profile.address}}" name="address" required>
                                                </div>
                                                <input type="hidden"  name="user_type" value= "{{user_type}}">
                                                <!-- Add more fields as needed -->
                                                <button type="submit" class="btn btn-primary">Save Changes</button>
                                            </form>
                                        </div>
                                    </div>
                                </div>
                        </div> 

                        
{% endblock content %}

