{% load static %}

<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0, user-scalable=0">
    <title>{% block title %} Admin Dashboard {% endblock title %}</title>
    {% block link %}
    {% endblock link %}
    
</head>

<body>
    <div class="main-wrapper">
        
        {% if messages %}
        {% for message in messages %}
        <div class="alert alert-danger" role="alert">
            {{ message }}
        </div>
        {% endfor %}
        {% endif %}

        {% block login %}
        
        {% endblock login %}
        
        
        {% block sidebar %}
        
        {% endblock sidebar %}
        
        
    </div>
    
</div>
{% block script %}

{% endblock script %}

</body>

</html>