{% load static %}

<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0, user-scalable=0">
    <title>{% block title %} Admin Dashboard {% endblock title %}</title>
    {% block link %}
    {% endblock link %}
    
</head>

<body>
    <div class="main-wrapper">
        
     
        {% block login %}
        
        {% endblock login %}
        
        <div class="header">

            <div class="header-left">
                <a href="{% url 'login' %}" class="logo">


                    <img src="{% static 'media/img/logo.png'%}" alt="Logo">
                </a>
                <a href="index.html" class="logo logo-small">
                    <img src="{% static 'media/img/logo-small.png'%}" alt="Logo" width="30" height="30">
                </a>
            </div>
            <div class="menu-toggle">
                <a href="javascript:void(0);" id="toggle_btn">
                    <i class="fas fa-bars"></i>
                </a>
            </div>
        
            <div class="top-nav-search">
                <form>
                    <input type="text" class="form-control" placeholder="Search here">
                    <button class="btn" type="submit"><i class="fas fa-search"></i></button>
                </form>
            </div>
            <a class="mobile_btn" id="mobile_btn">
                <i class="fas fa-bars"></i>
            </a>
        
            <ul class="nav user-menu">

        
                <li class="nav-item chat-icon me-2">
                    <a href="{% url 'chat:chat_box' %}" class="nav-link header-nav-list">
                        <i class="fas fa-comment"></i>
                    </a>
                </li>
        
                <li class="nav-item dropdown noti-dropdown me-2">
                    <a href="#" class="dropdown-toggle nav-link header-nav-list" data-bs-toggle="dropdown">
                        <img src="{% static 'media/img/icons/header-icon-05.svg'%}" alt="">
                    </a>
                    <div class="dropdown-menu notifications">
                        <div class="topnav-dropdown-header">
                            <span class="notification-title">Notifications</span>
                            <a href="javascript:void(0)" class="clear-noti"> Clear All </a>
                        </div>
                        <div class="noti-content">
                            <ul class="notification-list">
                                <li class="notification-message">
                                    <a href="#">
                                        <div class="media d-flex">
                                            <span class="avatar avatar-sm flex-shrink-0">
                                                <img class="avatar-img rounded-circle" alt="User Image"
                                                    src="assets/img/profiles/avatar-02.jpg">
                                            </span>
                                            <div class="media-body flex-grow-1">
                                                <p class="noti-details"><span class="noti-title">Carlson Tech</span> has
                                                    approved <span class="noti-title">your estimate</span></p>
                                                <p class="noti-time"><span class="notification-time">4 mins ago</span>
                                                </p>
                                            </div>
                                        </div>
                                    </a>
                                </li>
                              
                            </ul>
                        </div>
                        <div class="topnav-dropdown-footer">
                            <a href="#">View all Notifications</a>
                        </div>
                    </div>
                </li>
        
        
                <li class="nav-item zoom-screen me-2">
                    <a href="#" class="nav-link header-nav-list win-maximize">
                        <img src="{% static 'media/img/icons/header-icon-04.svg'%}" alt="">
                    </a>
                </li>
        
                <li class="nav-item dropdown has-arrow new-user-menus">
                    <a href="#" class="dropdown-toggle nav-link" data-bs-toggle="dropdown">
                        <span class="user-img">
                            <img class="rounded-circle" src="{% static 'media/img/user-5.jpg'%}" width="31"
                                alt="{{profile}}">
                            <div class="user-text">
                                <h6>{{profile}}</h6>
                                <p class="text-muted mb-0">{{user_type|title}}</p>
                            </div>
                        </span>
                    </a>
                    <div class="dropdown-menu">
                        <div class="user-header">
                            <div class="avatar avatar-sm">
                                <img src="{% static 'media/img/user-5.jpg'%}" alt="User Image"
                                    class="avatar-img rounded-circle">
                            </div>
                            <div class="user-text">
                                <h6>{{profile}}</h6>
                                <p class="text-muted mb-0">{{user_type|title}}</p>
                            </div>
                        </div>
                        <a class="dropdown-item" href="{% url 'user_profile:profile'%}">My Profile</a>
                        <a class="dropdown-item" href="inbox.html">Inbox</a>
                        <a class="dropdown-item" href="{% url 'logout' %}">Logout</a>
                    </div>
                </li>
        
            </ul>
        
        </div>
        {% block sidebar %}
        
        {% endblock sidebar %}
        
        
    </div>
    
</div>
{% block script %}

{% endblock script %}

</body>

</html>